<div class="content-container">
  <p class="subheading">{{ subheading }}</p>
  <p class="heading">Lorem ipsum</p>
  <div class="blog-container">
    <div>
      <p class="blog-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam
        metus rutrum libero accumsan, rhoncus vestibulum odio commodo. Aenean id
        erat venenatis massa laoreet finibus ac ac urna. Curabitur in velit
        nisi. Vivamus arcu nunc, lobortis id quam non, congue ullamcorper
        sapien. Proin ut augue quis erat finibus iaculis ultricies non leo.
        Proin scelerisque enim sed magna laoreet volutpat sed at risus. Duis
        urna nibh, mollis nec orci sed, consectetur auctor felis. Etiam
        ullamcorper lacinia urna vitae posuere. Nullam vitae fringilla erat.
      </p>
      <p class="blog-text">
        Donec semper, mi pharetra pretium viverra, dui enim ullamcorper quam, at
        placerat ex ligula eget nisi. Sed sit amet bibendum neque, non porttitor
        mi. Fusce quis dui porttitor, consectetur ex eu, feugiat risus.
        Curabitur sollicitudin molestie leo, at fermentum lacus luctus vel.
        Vestibulum non magna volutpat, tempus ligula non, laoreet diam. Maecenas
        odio eros, euismod non sollicitudin id, feugiat eget sem. Proin urna
        nibh, laoreet non molestie quis, pretium sed ex. Ut venenatis egestas
        arcu. Morbi viverra eget elit eget sagittis. Sed et nisi nisl. Maecenas
        vitae nisi in dolor accumsan scelerisque. Donec mi nunc, posuere nec
        urna eu, aliquet eleifend risus. Vestibulum magna erat, faucibus a
        tincidunt eu, accumsan ac dui. Phasellus id lorem mauris. Aenean
        ullamcorper lectus vitae mi sagittis, et dignissim nulla pharetra.
        Mauris vitae vulputate elit.
      </p>
      <p class="blog-text">
        Curabitur tempus, lorem vel luctus hendrerit, mauris leo pellentesque
        ante, eget porta nibh quam ac libero. Vivamus mollis, justo sed
        facilisis condimentum, ex odio convallis ex, eget fringilla ipsum ipsum
        sit amet est. Sed sagittis ex dui, eget convallis dui porttitor at.
        Pellentesque nulla ipsum, facilisis sit amet molestie et, aliquet eu
        mauris. Sed id libero nec tellus blandit commodo ac eget sem. Aenean
        quis libero non velit malesuada accumsan. Nunc et purus justo. Aliquam
        sodales ante ex, a ultrices leo mollis ut. Curabitur eu diam molestie,
        vestibulum justo in, viverra nisi. Quisque at sagittis augue. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
      </p>
      <p class="blog-text">
        In consectetur, ligula at euismod pretium, nunc mauris sollicitudin
        urna, varius viverra mi est nec sapien. Curabitur eleifend metus quis
        libero tempus porta nec id dui. Duis mollis odio ligula. Suspendisse
        pulvinar consectetur mauris, interdum varius massa mollis imperdiet.
        Aliquam sed rhoncus libero. Duis imperdiet massa elit, et tempor sapien
        pretium sit amet. Nulla nunc nibh, volutpat in scelerisque eu, lacinia
        pretium dolor. Cras imperdiet id dolor sit amet eleifend. Praesent
        cursus sapien nec nisl interdum, sodales efficitur tortor feugiat. Donec
        rhoncus mollis elementum. Fusce eget eleifend nisi, nec tristique velit.
      </p>
    </div>
    <div>
      <p class="blog-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam
        metus rutrum libero accumsan, rhoncus vestibulum odio commodo. Aenean id
        erat venenatis massa laoreet finibus ac ac urna. Curabitur in velit
        nisi. Vivamus arcu nunc, lobortis id quam non, congue ullamcorper
        sapien. Proin ut augue quis erat finibus iaculis ultricies non leo.
        Proin scelerisque enim sed magna laoreet volutpat sed at risus. Duis
        urna nibh, mollis nec orci sed, consectetur auctor felis. Etiam
        ullamcorper lacinia urna vitae posuere. Nullam vitae fringilla erat.
      </p>
      <p class="blog-text">
        Donec semper, mi pharetra pretium viverra, dui enim ullamcorper quam, at
        placerat ex ligula eget nisi. Sed sit amet bibendum neque, non porttitor
        mi. Fusce quis dui porttitor, consectetur ex eu, feugiat risus.
        Curabitur sollicitudin molestie leo, at fermentum lacus luctus vel.
        Vestibulum non magna volutpat, tempus ligula non, laoreet diam. Maecenas
        odio eros, euismod non sollicitudin id, feugiat eget sem. Proin urna
        nibh, laoreet non molestie quis, pretium sed ex. Ut venenatis egestas
        arcu. Morbi viverra eget elit eget sagittis. Sed et nisi nisl. Maecenas
        vitae nisi in dolor accumsan scelerisque. Donec mi nunc, posuere nec
        urna eu, aliquet eleifend risus. Vestibulum magna erat, faucibus a
        tincidunt eu, accumsan ac dui. Phasellus id lorem mauris. Aenean
        ullamcorper lectus vitae mi sagittis, et dignissim nulla pharetra.
        Mauris vitae vulputate elit.
      </p>
      <p class="blog-text">
        Curabitur tempus, lorem vel luctus hendrerit, mauris leo pellentesque
        ante, eget porta nibh quam ac libero. Vivamus mollis, justo sed
        facilisis condimentum, ex odio convallis ex, eget fringilla ipsum ipsum
        sit amet est. Sed sagittis ex dui, eget convallis dui porttitor at.
        Pellentesque nulla ipsum, facilisis sit amet molestie et, aliquet eu
        mauris. Sed id libero nec tellus blandit commodo ac eget sem. Aenean
        quis libero non velit malesuada accumsan. Nunc et purus justo. Aliquam
        sodales ante ex, a ultrices leo mollis ut. Curabitur eu diam molestie,
        vestibulum justo in, viverra nisi. Quisque at sagittis augue. Class
        aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.
      </p>
      <p class="blog-text">
        In consectetur, ligula at euismod pretium, nunc mauris sollicitudin
        urna, varius viverra mi est nec sapien. Curabitur eleifend metus quis
        libero tempus porta nec id dui. Duis mollis odio ligula. Suspendisse
        pulvinar consectetur mauris, interdum varius massa mollis imperdiet.
        Aliquam sed rhoncus libero. Duis imperdiet massa elit, et tempor sapien
        pretium sit amet. Nulla nunc nibh, volutpat in scelerisque eu, lacinia
        pretium dolor. Cras imperdiet id dolor sit amet eleifend. Praesent
        cursus sapien nec nisl interdum, sodales efficitur tortor feugiat. Donec
        rhoncus mollis elementum. Fusce eget eleifend nisi, nec tristique velit.
      </p>
    </div>
  </div>
</div>
