<div class="secondary-background">
  <div class="content-container">
    <p class="subheading">what we do</p>
    <p class="heading">Better Services For You</p>
    <p class="description">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout. The point of using
      Lorem Ipsum is that it has
    </p>
    <div class="services">
      <div class="service" *ngFor="let service of services; let i = index">
        <div class="service__icon-container">
          <img src="{{ imagePaths[i % 3] }}" />
        </div>
        <p class="service__name">{{ service.name || 'No name' }}</p>
        <p class="service__description">
          {{ service.description || 'No description' }}
        </p>
      </div>
    </div>
  </div>
</div>
