@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
:root {
    margin:0;
    padding:0;
    --primary-background-color:#06101a;
    --secondary-background-color: #050d16;
    --white: rgb(250, 250, 250);
    --cyan: rgb(0, 188, 212);
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-color: var(--primary-background-color);
    font-size: 1.6rem;
}

.content-container {
    width: 100vw;
    max-width: 1170px;
    margin: 0 auto;
}

.secondary-background {
    background-color: var(--secondary-background-color);
}