@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
:root {
    margin:0;
    padding:0;
    --primary-background-color: rgb(6, 16, 26);
    --secondary-background-color: #050d16;
    --cyan: rgb(0, 188, 212);
    --white: rgb(250, 250, 250);
    --heading-description-white: rgb(250, 247, 255);
    --what-we-do-description-white: rgb(232, 225, 225);
    --company-white: rgb(215,215,215);
    --gray: rgb(119, 119, 119);
    --not-active-page-color: #041f2a;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    background-color: var(--primary-background-color);
    font-size: 1.6rem;
}

p {
    margin: 0;
}

.content-container {
    width: 100vw;
    max-width: 1170px;
    margin: 0 auto;
}

.secondary-background {
    background-color: var(--secondary-background-color);
}